.h1 {
  text-align: center;
  padding: 60px 0;
  background-color: #e8ecef;
  font-size: large;
  margin: 40px auto 0 auto;
}

.form-input {
  display: block;
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: var(--clr-white);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: var(--radius);
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  margin: 40px auto 0 auto;
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;
  max-width: 600px;
  width: 100%;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
